/*colors: #051622 #1BA098 #DEB992 */
/**************************************** Tag Selectors ****************************************/

body {
  background-color: #051622;
}

hr {
  border-color: #977f66;
  border-style: none;
  border-top-style: dotted;
  border-top-width: 10px;
  height: 0px;
  width: 8%;
}

/**************************************** Class Selectors ****************************************/

.Title {
  color: #DEB992;
}

.SubTitle {
  color: #977f66;
}

.Para {
  color: #1BA098;
}
